@{
    ViewBag.Title = "Lịch Sử";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.DiaChi = 2;
}

@using QuanLyKhachSan.Models.ViewModels
@model List<LichSuView>

<h3>Lịch Sử Đặt phòng</h3>

<div class="wrap-lich-su">
    @Html.Partial("_MenuTraiCaNhan")
    <div class="khung-lich-su" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <button style="float: right" class="btn btn-sm btn-primary" onclick="search()">Tìm kiếm</button>
        </div>
        <br />
        <table class="bang-dang-ky-thanh-cong bang-dat-phong-thanh-cong">
            <div class="col-md-4">
                <label class="col-md-12 " style="margin-top: 10px;">Tên phòng</label>
                <input class="form-control" placeholder="Nhập..." type="text" id="TenPhong" />
            </div>
            <div class="col-md-4">
                <label class="col-md-12 " style="margin-top: 10px;">Ngày đặt</label>
                <input class="form-control" placeholder="Nhập..." type="date" id="NgayDat" />
            </div>
            <div class="col-md-4">
                <label class="col-md-12 " style="margin-top: 10px;">Ngày đến</label>
                <input class="form-control" placeholder="Nhập..." type="date" id="NgayDen" />
            </div>
            <div class="col-md-4">
                <label class="col-md-12 " style="margin-top: 10px;">Ngày trả</label>
                <input class="form-control" placeholder="Nhập..." type="date" id="NgayTra" />
            </div>
            <div class="col-md-4">
                <label class="col-md-12 " style="margin-top: 10px;">Phương thức thanh toán</label>
                <select class="form-control" id="PhuongThucThanhToan">
                    <option value="null">Chọn phương thức</option>
                    <option value="1">Tiền mặt</option>
                    <option value="2">Chuyển khoản</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="col-md-12 " style="margin-top: 10px;">Trạng thái</label>
                <select class="form-control" id="TrangThai">
                    <option value="null">Chọn trạng thái</option>
                    <option value="0">Chờ thanh toán</option>
                    <option value="1">Đã thanh toán</option>
                    <option value="2">Đã hủy</option>
                </select>
            </div>
        </table>
    </div>
    <div id="data">
        @if (@Model.Count > 0)
        {
            foreach (LichSuView lsv in @Model)
            {
                <div class="khung-lich-su">
                    <table class="bang-dang-ky-thanh-cong bang-dat-phong-thanh-cong">
                        <colgroup>
                            <col style="width: 40%" />
                            <col style="width: 60%" />
                        </colgroup>
                        <tbody>
                            @if (lsv.TrangThai != 2 && lsv.CoTheHuy)
                            {
                                <button class="btn btn-primary" onclick="saveChangeDate('@lsv.MaDatPhong')">Lưu</button>
                            }
                            <tr><th>Tên Phòng:</th><th><span style="color: #8A2BE2">@lsv.TenPhong</span></th></tr>
                            <tr><th>Đặt Vào Ngày:</th><th><span style="color: #4682B4">@lsv.NgayDat</span></th></tr>
                            @if (lsv.TrangThai != 2 && lsv.CoTheHuy)
                            {
                                <tr><th>Ở Từ Ngày:</th><th><span style="color: #669900"><input type="date" id="start_date" value="@lsv.NgayDenInput" /></span></th></tr>
                                <tr><th>Đến Ngày:</th><th><span style="color: #008000"><input type="date" id="end_date" value="@lsv.NgayTraInput" /></span></th></tr>
                            }
                            else
                            {
                                <tr><th>Ở Từ Ngày:</th><th><span style="color: #669900">@lsv.NgayDen</span></th></tr>
                                <tr><th>Đến Ngày:</th><th><span style="color: #008000">@lsv.NgayTra</span></th></tr>
                            }
                            <tr><th>Dịch Vụ:</th><th><span style="color: #009999">@lsv.DichVu</span></th></tr>
                            <tr><th>Giá:</th><th><span style="color: #e6004c">@lsv.ThanhTien.000 đ/ngày</span></th></tr>
                            @if (lsv.TrangThai == 1)
                            {
                                <tr><th>Phương thức thanh toán:</th><th><span style="color: forestgreen">@lsv.PhuongThucThanhToanString</span></th></tr>
                                <tr><th>Trạng thái:</th><th><span style="color: forestgreen">@lsv.TrangThaiString</span></th></tr>
                            }
                            @if (lsv.TrangThai == 2)
                            {
                                <tr><th>Phương thức thanh toán:</th><th><span style="color: forestgreen">@lsv.PhuongThucThanhToanString</span></th></tr>
                                <tr><th>Trạng thái:</th><th><span style="color: forestgreen">@lsv.TrangThaiString</span></th></tr>
                            }
                            @if (lsv.TrangThai == 0)
                            {
                                <tr><th>Trạng thái:</th><th><span style="color: #e6004c">@lsv.TrangThaiString</span></th></tr>
                            }
                            <tr><th>Tổng Tiền:</th><th><span style="color: black">@lsv.TongTien.000 đ</span></th></tr>
                        </tbody>
                    </table>
                    @if (lsv.TrangThai == 2)
                    {
                        <button class="btn btn-danger" disabled>Phòng đã được hủy. Không thể thanh toán</button>
                    }
                    else
                    {
                        if (lsv.CoTheHuy)
                        {
                            <button class="btn btn-danger" type="submit" data-toggle="modal" data-target="#myModal" onclick="myFunction('/CaNhan/XoaDatPhong/@lsv.MaDatPhong')">Hủy Đặt</button>
                            <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#paymentModal" onclick="myFunction('/CaNhan/ThanhToanNgay/@lsv.MaDatPhong')">Thanh toán ngay</button>
                        }
                        else
                        {
                            <button class="btn btn-danger" disabled>Quá Hạn Hủy</button>
                        }
                    }
                </div>
                <br />
            }
        }
        else
        {
            <div class="khung-lich-su">
                <label>Bạn Chưa Đặt Phòng Nào!</label>
            </div>
        }
    </div>
    <div id="dataFilter">
    </div>
</div>

<script src="/Scripts/jquery.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
<script>
    var link;
    function myFunction(s) {
        link = s;
    }
    function btnOKClick() {
        window.location = link;
    }

    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    function renderTable(data) {
        textHistory = '';
        $('#dataFilter').html(`${textHistory}`);
        if (data.length > 0) {
            for (var item of data) {
                var btnSave = ``;
                var dateBooking = ``;
                if (item.TrangThai != 2 && item.CoTheHuy) {
                    btnSave = `<button class="btn btn-primary" onclick="saveChangeDate(${item.MaDatPhong})">Lưu</button>`;
                    dateBooking = `
                        <tr><th>Ở Từ Ngày:</th><th><span style="color: #669900"><input type="date" id="start_date" value="${item.NgayDenInput}" /></span></th></tr>
                        <tr><th>Đến Ngày:</th><th><span style="color: #008000"><input type="date" id="end_date" value="${item.NgayTraInput}" /></span></th></tr>`;
                    console.log(item.NgayDenInput);
                }
                else {
                    dateBooking = `<tr><th>Đặt Vào Ngày:</th><th><span style="color: #4682B4" id="start_date" value="${item.NgayDat}">${item.NgayDat}</span></th></tr>
                            <tr><th>Ở Từ Ngày:</th><th><span style="color: #669900" id="end_date" value="${item.NgayDen}">${item.NgayDen}</span></th></tr>`
                }
                var listButtonText = item.CoTheHuy ?
                    `<button class="btn btn-danger" type="submit" data-toggle="modal" data-target="#myModal" onclick="myFunction('/CaNhan/XoaDatPhong/${item.MaDatPhong}')">Hủy Đặt</button>
                        <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#paymentModal" onclick="myFunction('/CaNhan/ThanhToanNgay/${item.MaDatPhong}')">Thanh toán ngay</button>`
                    : `<button class="btn btn-danger" disabled>Quá Hạn Hủy</button>`;
                if (item.TrangThai == 2) {
                    listButtonText = `<button class="btn btn-danger" disabled>Phòng đã được hủy. Không thể thanh toán</button>`
                }
                textHistory += `
                    <div class="khung-lich-su">
                    <table class="bang-dang-ky-thanh-cong bang-dat-phong-thanh-cong">
                        <colgroup>
                            <col style="width: 40%" />
                            <col style="width: 60%" />
                        </colgroup>
                        <tbody>
                            `+ btnSave +`
                            <tr><th>Tên Phòng:</th><th><span style="color: #8A2BE2">${item.TenPhong}</span></th></tr>
                            `+ dateBooking +`
                            <tr><th>Đến Ngày:</th><th><span style="color: #008000">${item.NgayTra}</span></th></tr>
                            <tr><th>Dịch Vụ:</th><th><span style="color: #009999">${item.DichVu}</span></th></tr>
                            <tr><th>Giá:</th><th><span style="color: #e6004c">${item.ThanhTien}.000 đ/ngày</span></th></tr>
                            ${item.TrangThai == 1 ?
                        `<tr><th>Phương thức thanh toán:</th><th><span style="color: forestgreen">${item.PhuongThucThanhToanString}</span></th></tr>
                                <tr><th>Trạng thái:</th><th><span style="color: forestgreen">${item.TrangThaiString}</span></th></tr>`
                        : item.TrangThai == 2 ?
                            `<tr><th>Phương thức thanh toán:</th><th><span style="color: forestgreen">${item.PhuongThucThanhToanString}</span></th></tr>
                                <tr><th>Trạng thái:</th><th><span style="color: forestgreen">${item.TrangThaiString}</span></th></tr>`
                            : `<tr><th>Trạng thái:</th><th><span style="color: #e6004c">${item.TrangThaiString}</span></th></tr>`
                    }
                            <tr><th>Tổng Tiền:</th><th><span style="color: black">${item.TongTien}.000 đ</span></th></tr>
                        </tbody>
                    </table>
                    ${listButtonText}
                </div>
                <br />
                `;
            }
            $('#dataFilter').html(`
            ` + textHistory);
        }
        else {
            textHistory += `
            <div class="khung-lich-su">
                <label>Bạn Chưa Đặt Phòng Nào!</label>
            </div>`
        }
    }

    search = () => {
        var req = {
            TenPhong: $('#TenPhong').val(),
            NgayDat: $('#NgayDat').val(),
            NgayDen: $('#NgayDen').val(),
            NgayTra: $('#NgayTra').val(),
            TrangThai: $('#TrangThai').val(),
            PhuongThucThanhToan: $('#PhuongThucThanhToan').val(),
        }
        postData('/CaNhan/LichSu', req)
            .then((result) => {
                if (result.success) {
                    $('#data').hide();
                    renderTable(result.data);
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            });
    }

    saveChangeDate = (ma) => {
        var req = {
            MaDatPhong: ma,
            NgayDen: $('#start_date').val(),
            NgayTra: $('#end_date').val(),
        }
        postData('/CaNhan/ThayDoiNgay', req)
            .then((result) => {
                if (result.success) {
                    $("#modalThayDoiNgay").modal({ show: true });
                    search();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            });
    }
</script>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông Báo</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn hủy đặt không?</p>
            </div>
            <div class="modal-footer">
                <input type="button" style="width:70px" class="btn btn-success" data-dismiss="modal" value="Có" id="btnOK" onclick="btnOKClick()" />
                <input type="button" style="width:70px" class="btn btn-default" data-dismiss="modal" value="Không" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal" role="dialog">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Thanh toán bằng phương thức chuyển khoản</h5>
            </div>
            <div class="modal-body">
                <img src="https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcSh-wrQu254qFaRcoYktJ5QmUhmuUedlbeMaQeaozAVD4lh4ICsGdBNubZ8UlMvWjKC" height="280px" alt="Alternate Text" />
            </div>
            <div class="modal-footer">
                <input type="button" style="width:70px" class="btn btn-success" data-dismiss="modal" value="OK" id="btnOK" onclick="btnOKClick()" />
                <input type="button" style="width:70px" class="btn btn-default" data-dismiss="modal" value="Hủy bỏ" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalThayDoiNgay" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông Báo</h4>
            </div>
            <div class="modal-body">
                <p>Thay đổi ngày thành công!</p>
            </div>
            <div class="modal-footer" style="text-align: center">
                <input type="button" style="width:70px" class="btn btn-success" data-dismiss="modal" value="OK" />
            </div>
        </div>
    </div>
</div>

@if (TempData["HuyDat"] != null)
{
    TempData["HuyDat"] = null;
    <div class="modal fade" id="modalHuyThanhCong" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông Báo</h4>
                </div>
                <div class="modal-body">
                    <p>Hủy đặt phòng thành công!</p>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <input type="button" style="width:70px" class="btn btn-success" data-dismiss="modal" value="OK" />
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#modalHuyThanhCong").modal({ show: true });
    </script>
}


@if (TempData["ThanhToan"] != null)
{
    TempData["ThanhToan"] = null;
    <div class="modal fade" id="modalThanhToanThanhCong" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông Báo</h4>
                </div>
                <div class="modal-body">
                    <p>Thanh toán thành công!</p>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <input type="button" style="width:70px" class="btn btn-success" data-dismiss="modal" value="OK" />
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#modalThanhToanThanhCong").modal({ show: true });
    </script>
}
